 body {
      background-color: #ffffff;
      font-family: "helvetica neue",helvetica,arial,sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: black;
      text-rendering: optimizeLegibility;
    } 


    h2 {
      background-color: #ffffff;
      font-family: "helvetica neue",helvetica,arial,sans-serif;
      font-size: 22px;
      color: black;
      text-align: center;
      text-rendering: optimizeLegibility;
    }

    h1 {
      background-color: #ffffff;
      font-family: "helvetica neue",helvetica,arial,sans-serif;
      font-size: 22px;
      text-align: center;
      text-rendering: optimizeLegibility;
      margin: 10px auto;
    }   

    form {
      background-color: #ffffff;
      font-family: "helvetica neue",helvetica,arial,sans-serif;
      font-size: 22px;
      color: black;
      text-align: left;
      text-rendering: optimizeLegibility;
      display: table;
      # margin: 0px auto;
    }   
    input[type="text"] { width: 600px; }
    p { 
      display: table-row;
      # text-align: right;
    }   
    label {
        display: inline-block;
	width: 300px;
	text-align: right;
    }

 @media screen and (max-width: 80.5em) {
        body { font-size: 20px; }
        form { font-size: 20px; line-height: 1.5; }
    }

    @media screen and (max-width: 60.5em) {
        body { font-size: 16px; }
        form { width: 100%; font-size: 16px; }
        input[type="text"] { width: 100%; margin-left:0px; }
        label { display: block; text-align:left; padding-left:0px; }
        li, p { font-size:16px; margin-left: 2px; }
    } 
      
    @media screen and (max-width: 40.5em) {
        body { font-size: 14px; }
        form { width: 100%; font-size: 14px; }
        input[type="text"] { width: 100%; margin-left:0px; }
        label { display: block; text-align:left; padding-left:0px; }
        li, p { font-size:14px; margin-left: 2px; }
    } 
